<div class="container col-5">
<h2>O Nome do Produto é {{user.nameP}} e o Fornecedor é  {{user.nameF}} com a data da com em {{user.dataComp}}</h2>
</div>
<div class="container col-4">
<a href="/" class="btn btn-primary">Home</a>
<a href="/users/add" class="btn btn-secondary">Novo Cadastro</a>
</div>


