
{{!-- <form action="/users/save" method="post">
<div>
<input type="text" name="name" placeholder="Digite seu nome">
<input type="text" name="age" placeholder="Digite idade">
<input type="submit" value="Cadastrar" />
</div>
</form> --}}

<div class="container">
<form action="/users/save" method="post">

{{!-- NOME --}}
<div class="row">
<div class="col-6">
<label>Nome:</label>
<input type="text" class="form-control" name="name" id="nome">
</div>

{{!-- DATA DE NASCIMENTO --}}

<div class="col-3">
  <label>Data de Nascimento:</label>
  <input type="date" class="form-control" name="dataNasc" id="dataNasc">
</div>
</div>

<div class="row">
  <div class="col-5">
     <label>E-mail:</label>
  <input type="email" class="form-control" name="email">
  </div>

{{!-- PARTE DO FUNCIONÁRIO --}}

  <div class="col-2">
    <label for="func">Funcionário:</label>
    <select class="form-control">
      <option value="sim">Sim</option>
      <option value="não">Não</option>
    </select>
  </div>
</div>
<br>
{{!-- BOTÃO --}}
<button type="submit" class="btn btn-success">Enviar</button>
<a href="/" class="btn btn-primary">Home</a>

</form>

</div>