<div class="container col-5">
<h2>O Usuário {{user.name}} com email {{user.email}} tem {{user.age}} anos de idade!</h2>
</div>
<div class="container col-4">
<a href="/" class="btn btn-primary">Home</a>
<a href="/users/add" class="btn btn-secondary">Novo Usuário</a>
</div>


