
{{!-- <form action="/users/save" method="post">
<div>
<input type="text" name="name" placeholder="Digite seu nome">
<input type="text" name="age" placeholder="Digite idade">
<input type="submit" value="Cadastrar" />
</div>
</form> --}}

<form action="/users/save" method="post">
<div class="container-fluid col-6">

    <h1>Adicionar Usuário</h1>
  <div class="form-group col-7">
    <label for="nome">Nome:</label>
    <input type="txt" class="form-control" id="nome" placeholder="Digite seu Nome..." name="name">
  </div>

  <div class="form-group col-3">
    <label for="idade">Idade:</label>
    <input type="txt" class="form-control" id="idade" placeholder="Digite sua idade..." name="age">
  </div>

  <div class="form-group col-7">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Digite seu email..." name="email">
</div>

<div class="form-group col-7">
  <button type="submit" class="btn btn-success">Enviar</button>
  <a href="/" class="btn btn-primary">Home</a>
</div>


</form>