<div class="container col-5">
<h2>O Usuário {{user.name}} <br> com email {{user.email}} <br> nasceu em {{user.dataNasc}} e {{user.func}} é Funcionário</h2>

</div>
<div class="container col-4">
<a href="/" class="btn btn-primary">Home</a>
<a href="/users/add" class="btn btn-secondary">Novo Usuário</a>
</div>


